* {
    font-family: 'Space Grotesk', sans-serif;
}

html{
    height: 100%;    
}

body{
    cursor: url('humancursor.cur'), auto;
    background-image: url("https://imgur.com/DAket8T.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1{
    display: flex;
    justify-content: center;
    color: black;
    
}

h2{
    display: flex;
    justify-content: center;
    color: black;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: grey;
    margin: 10;
    border: 3px dashed white;
}

.navbar img{
    height: 50px;
    width: 50px;
    margin: 100;
}

.navbar img:hover{
    cursor: url('rocketcursor.cur'), auto;
    opacity: 0.7;
}

.projects{
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 50px;
}

.proj{
    border: 5px double white;
    margin: 10px;
}

.proj:hover{
    border: 5px double red;
}

.proj img{
    height: 250px;
    width: 250px;
}

.proj img:hover{
    cursor: url('humancursor.cur'), auto;
}

.projects2{
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 50px;
}

.proj2{
    border: 5px double white;
    margin: 10px;
}

.proj2:hover{
    border: 5px double red;
}

.proj2 img{
    height: 250px;
    width: 250px;
}

.proj2 img:hover{
    cursor: url('humancursor.cur'), auto;
}