* {
    font-family: 'Space Grotesk', sans-serif;
}

html{
    height: 100%;    
}

body{
    cursor: url('astronautcursor.cur'), auto;
    background-image: url("https://imgur.com/IP2YBzo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 50px;
    background-color: #40A3F4;
}

p{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 23px;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: #40A3F4;
    margin: 10;
}

.navbar img{
    height: 50px;
    width: 50px;
    margin: 100;
    animation: bounce 2s infinite;
}

.navbar img:hover{
    cursor: url('rocketcursor.cur'), auto;
    opacity: 0.7;
}

.goals{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#40A3F4, white);
    border: 5px double white;
    font-size: 23px;
}

@keyframes bounce {
    from {
      transform: translate(0, 0px);
    } 50% {
      transform: translate(0, -3px);
    } to {
      transform: translate(0, 0px);
    }
  }