* {
    font-family: 'Space Grotesk', sans-serif;
}

html{
    height: 130%;    
}

body{
    cursor: url('astronautcursor.cur'), auto;
    background-image: url("https://imgur.com/F2iDA3X.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 50px;
}

p{
    font-size: 35px;
    border: 1px solid white;
    background-image: linear-gradient(#FFC007, white);
    text-align: center;
    margin: auto;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: white;
    margin: 10;
}

.navbar img{
    height: 50px;
    width: 50px;
    margin: 100;
    animation: bounce 2s infinite;
}

.navbar img:hover{
    cursor: url('rocketcursor.cur'), auto;
    opacity: 0.7;
}

.robotics{  
    display: flex;
    justify-content: flex-start;
    color: black;
    height: 29%;
}

.robotics img{
    height: 25%;
    width: 25%;
    border: 3px double white;
    margin: 10px;
}

.notschool{  
    display: flex;
    justify-content: flex-start;
    color: black;
    height: 29%;
}

.notschool img{
    height: 25%;
    width: 25%;
    border: 3px double white;
    margin: 10px;
}

.music{  
    display: flex;
    justify-content: center;
    color: black;
}

.musictext{
    width: 950px;
}

@keyframes bounce {
    from {
      transform: translate(0, 0px);
    } 50% {
      transform: translate(0, -3px);
    } to {
      transform: translate(0, 0px);
    }
  }