* {
    font-family: 'Space Grotesk', sans-serif;
}

html{
    height: 100%;    
}

body{
    cursor: url('astronautcursor.cur'), auto;
    background-image: url("https://imgur.com/oqoZVCc.jpg");
    background-size: 100% 100%;
}

h1{
    display: flex;
    justify-content: center;
    color: black;
    
}

h2{
    display: flex;
    justify-content: center;
    color: black;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: grey;
    margin: 10;
    border: 3px dashed white;
}

.navbar img{
    height: 50px;
    width: 50px;
    margin: 100;
}

.navbar img:hover{
    cursor: url('rocketcursor.cur'), auto;
    opacity: 0.7;
}