* {
    font-family: 'Space Grotesk', sans-serif;
}

body{ 
    background-image: url("https://imgur.com/cqAtcSg.jpg");
    background-size: 100% 100%;
    cursor: url('astronautcursor.cur'), auto;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    margin: 10;
}

.navbar img{
    height: 50px;
    width: 50px;
    margin: 100;
    animation: bounce 2s infinite;
}

.navbar img:hover{
    cursor: url('rocketcursor.cur'), auto;
    opacity: 0.7;
}

h1{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 100px;
}

.sun{
    display: flex;
    justify-content: center;
}
.planet:hover{
    cursor: url('astronautcursor.cur'), auto;
}

.planet img:hover{
    cursor: url('rocketcursor.cur'), auto;
    opacity: 0.7;
}

.planet{
    display: flex;
    justify-content: center;
    animation: bounce2 3s infinite;
}

@keyframes bounce {
    from {
      transform: translate(0, 0px);
    } 50% {
      transform: translate(0, -3px);
    } to {
      transform: translate(0, 0px);
    }
  }

  @keyframes bounce2 {
    from {
      transform: translate(0, 0px);
    } 50% {
      transform: translate(0, -50px);
    } to {
      transform: translate(0, 0px);
    }
  }