* {
    font-family: 'Space Grotesk', sans-serif;
}

html{
    height: 120%;    
}

body{
    cursor: url('astronautcursor.cur'), auto;
    background-image: url("https://imgur.com/zXitIhX.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 50px;
}

p{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 23px;
    background-color: #2196F3;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: #2196F3;
    margin: 10;
}

.navbar img{
    height: 50px;
    width: 50px;
    margin: 100;
    animation: bounce 2s infinite;
}

.navbar img:hover{
    cursor: url('rocketcursor.cur'), auto;
    opacity: 0.7;
}

.socials{
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 30px;
}

.instagram{
    border: 5px double white;
    margin: 5px;
}

.instagram:hover{
    border: 5px double red;
}

.instagram img{
    height: 250px;
    width: 250px;
}

.instagram img:hover{
    cursor: url('astronautcursor.cur'), auto;
    opacity: 0.7;
}

.linkedin{
    border: 5px double white;
    margin: 5px;
}

.linkedin:hover{
    border: 5px double red;
}

.linkedin img{
    height: 250px;
    width: 250px;
}

.linkedin img:hover{
    cursor: url('astronautcursor.cur'), auto;
    opacity: 0.7;
}

.socials2{
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 30px;
}

.github{
    border: 5px double white;
    margin: 5px;
}

.github:hover{
    border: 5px double red;
}

.github img{
    height: 250px;
    width: 250px;
}

.github img:hover{
    cursor: url('astronautcursor.cur'), auto;
    opacity: 0.7;
}

.gmail{
    border: 5px double white;
    margin: 5px;
}

.gmail:hover{
    border: 5px double red;
}

.gmail img{
    height: 250px;
    width: 250px;
}

.gmail img:hover{
    cursor: url('astronautcursor.cur'), auto;
    opacity: 0.7;
}

@keyframes bounce {
    from {
      transform: translate(0, 0px);
    } 50% {
      transform: translate(0, -3px);
    } to {
      transform: translate(0, 0px);
    }
  }
