* {
    font-family: 'Space Grotesk', sans-serif;
}

html{
    height: 172%;    
}

body{
    cursor: url('astronautcursor.cur'), auto;
    background-image: url("https://imgur.com/yAfixdK.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 50px;
}

p{
    font-size: 35px;
    border: 1px solid white;
    background-image: linear-gradient(#BCE1EB, white);
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: #BCE1EC;
    margin: 10;
}

.navbar img{
    height: 50px;
    width: 50px;
    margin: 100;
    animation: bounce 2s infinite;
}

.navbar img:hover{
    cursor: url('rocketcursor.cur'), auto;
    opacity: 0.7;
}

.nextech{
    display: flex;
    justify-content: flex-start;
}

.nextech img{
    height: 15%;
    width: 15%;
    border: 3px double white;
    margin: 10px;
}

.slides{
    display: flex;
    justify-content: center;
}

.gallery{
    display: flex;
    justify-content: center;
}

.gallery img{
    height: 13%;
    width: 15%;
    border: 3px double white;
    margin: 10px;
}

@keyframes bounce {
    from {
      transform: translate(0, 0px);
    } 50% {
      transform: translate(0, -3px);
    } to {
      transform: translate(0, 0px);
    }
  }
